################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dark.net/obj
/.vs
/Dark.net/bin
