################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dark.net/obj
/.vs
/Dark.net/bin
/veda.darknet.invoke/bin/Debug/netcoreapp3.1
/veda.darknet.invoke/obj
/DarkNetWpf/bin/Debug/netcoreapp3.1
/DarkNetWpf/obj
